@page "/recipe"
@attribute [StreamRendering]
@using CuisineCarousel.Models
@using CuisineCarousel.UseCases
@using MudExtensions
<h3>Fabricate Food</h3>
<FadeInAnimation />

<MudContainer>
    <MudGrid>
        <MudItem xs="6">
            <MudSelect @bind-Value="OriginalDishId" Label="Select dish" Placeholder="Pick a classic" AdornmentIcon="@Icons.Material.Filled.Fastfood" AdornmentColor="Color.Primary">
                @foreach (var dish in OriginalDishes)
                {
                    <MudSelectItem Value="@dish.Id">@dish.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="6">
            <MudSelect @bind-Value="TwistId" Label="Select twist" Placeholder="Make it weird" AdornmentIcon="@Icons.Material.Filled.AddTask" AdornmentColor="Color.Primary">
                @foreach (var twist in Twists)
                {
                    <MudSelectItem Value="@twist.Id">@twist.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        @if (!GeneratingRecipe && NewRecipe == null)
        {
            <MudItem xs="12">
                <MudButton OnClick="() => BuildDish()" Variant="Variant.Filled" Color="Color.Primary" Disabled=@(string.IsNullOrEmpty(OriginalDishId) || string.IsNullOrEmpty(TwistId)) StartIcon="@Icons.Material.Filled.AutoAwesome" EndIcon="@Icons.Material.Filled.AutoAwesome">Build A Dish!</MudButton>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@if (NewRecipe != null)
{
    <MudContainer Class="fade-in">
        <MudText Typo="Typo.h4" Class="mt-8">Your new recipe:</MudText>
        <MudText Typo="Typo.h5" Class="mt-8">@NewRecipe.Title</MudText>
        <MudText Typo="Typo.body1" Class="mt-8">@NewRecipe.Description</MudText>
        <MudButton OnClick="OnExpandCollapseClick">@(Expanded ? "Collapse" : "Expand")</MudButton>
        <MudCollapse Expanded="Expanded">
            <MudText Typo="Typo.body2" Class="mt-8">@NewRecipe.Instructions</MudText>
        </MudCollapse>
    </MudContainer>
}

@if (NewRecipe != null)
{
    <MudContainer>
        <MudButton OnClick="() => GenerateImage()" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Brush" EndIcon="@Icons.Material.Filled.Brush">Fabricate!</MudButton>
        @if (ImageUri != null)
        {
            <MudImage Src="@ImageUri.ToString()"></MudImage>
        }
    </MudContainer>
}

@code {

    [Inject] private ICreateRecipeUseCase CreateRecipeUseCase { get; set; } = null!;
    [Inject] private IOriginalDish OriginalDish { get; set; } = null!;
    [Inject] private ITwist TwistService { get; set; } = null!;
    [Inject] private IFabricator Fabricator { get; set; } = null!;

    private Models.Recipe? NewRecipe { get; set; }

    private IEnumerable<OriginalDish> OriginalDishes { get; set; } = Array.Empty<OriginalDish>();
    private IEnumerable<Twist> Twists { get; set; } = Array.Empty<Twist>();

    private string OriginalDishId { get; set; } = string.Empty;
    private string TwistId { get; set; } = string.Empty;
    
    private Uri? ImageUri { get; set; }
    private bool Expanded { get; set; }
    private bool GeneratingRecipe { get; set; }

    private async Task BuildDish()
    {
        GeneratingRecipe = true;
        NewRecipe = await CreateRecipeUseCase.CreateRecipeAsync(OriginalDishId, TwistId);
        GeneratingRecipe = false;
    }

    private async Task GenerateImage()
    {
        ImageUri = await this.Fabricator.Fabricate(NewRecipe!);
    }

    protected override Task OnInitializedAsync()
    {
        OriginalDishes = OriginalDish.GetAll();
        Twists = TwistService.GetAll();
        return base.OnInitializedAsync();
    }

    private void OnExpandCollapseClick() {
        Expanded = !Expanded;
    }
}
