@page "/recipe"
@attribute [StreamRendering]
@using CuisineCarousel.Models
@using CuisineCarousel.UseCases
<h3>Fabricate Food</h3>
<MudContainer>
    <MudGrid>
        <MudItem xs="6">
            <MudSelect @bind-Value="OriginalDishId" Label="Select dish" Placeholder="Pick a classic" AdornmentIcon="@Icons.Material.Filled.Fastfood" AdornmentColor="Color.Primary">
                @foreach (var dish in OriginalDishes)
                {
                    <MudSelectItem Value="@dish.Id">@dish.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="6">
            <MudSelect @bind-Value="TwistId" Label="Select twist" Placeholder="Make it weird" AdornmentIcon="@Icons.Material.Filled.AddTask" AdornmentColor="Color.Primary">
                @foreach (var twist in Twists)
                {
                    <MudSelectItem Value="@twist.Id">@twist.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12">
            <MudButton OnClick="() => BuildDish()" Variant="Variant.Filled" Color="Color.Primary" Disabled=@(string.IsNullOrEmpty(OriginalDishId) || string.IsNullOrEmpty(TwistId)) StartIcon="@Icons.Material.Filled.AutoAwesome" EndIcon="@Icons.Material.Filled.AutoAwesome">Build A Dish!</MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>

@if (NewRecipe != null)
{
    <MudContainer>
        <MudText Typo="Typo.h4" Class="mt-8">Your new recipe:</MudText>
        <MudText Typo="Typo.h5" Class="mt-8">@NewRecipe.Title</MudText>
        <MudText Typo="Typo.body1" Class="mt-8">@NewRecipe.Description</MudText>
        <MudText Typo="Typo.body2" Class="mt-8">@NewRecipe.Instructions</MudText>
        <MudTextField Label="Instructions" Multiline="true" Rows="4" Variant="Variant.Filled" @bind-Value="UpdateInstructions"/>
        <MudButton OnClick="() => UpdateDish()" Variant="Variant.Filled" Color="Color.Primary" Disabled=@(string.IsNullOrEmpty(OriginalDishId) || string.IsNullOrEmpty(TwistId)) StartIcon="@Icons.Material.Filled.AutoAwesome" EndIcon="@Icons.Material.Filled.AutoAwesome">Update Dish!</MudButton>
    </MudContainer>
}


@if (UpdatedRecipe != null)
{
    <MudContainer>
        <MudText Typo="Typo.h4" Class="mt-8">Your updated recipe:</MudText>
        <MudText Typo="Typo.h5" Class="mt-8">@UpdatedRecipe.Title</MudText>
        <MudText Typo="Typo.body1" Class="mt-8">@UpdatedRecipe.Description</MudText>
        <MudText Typo="Typo.body2" Class="mt-8">@UpdatedRecipe.Instructions</MudText>
    </MudContainer>
}

@if (NewRecipe != null || UpdatedRecipe != null)
{
    <MudContainer>
        <MudButton OnClick="() => GenerateImage()" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Brush" EndIcon="@Icons.Material.Filled.Brush">Fabricate!</MudButton>
        @if(ImageUri != null)
        {
            <MudImage Src="@ImageUri.ToString()"></MudImage>
        }
    </MudContainer>
}

@code {

    [Inject] private ICreateRecipeUseCase CreateRecipeUseCase { get; set; } = null!;
    [Inject] private IUpdateRecipeUseCase UpdateRecipeUseCase { get; set; } = null!;
    [Inject] private IOriginalDish OriginalDish { get; set; } = null!;
    [Inject] private ITwist TwistService { get; set; } = null!;
    [Inject] private IFabricator Fabricator { get; set; } = null!;

    private Models.Recipe? NewRecipe { get; set; }
    private Models.Recipe? UpdatedRecipe { get; set; }

    private IEnumerable<OriginalDish> OriginalDishes { get; set; } = Array.Empty<OriginalDish>();
    private IEnumerable<Twist> Twists { get; set; } = Array.Empty<Twist>();

    private string UpdateInstructions { get; set; } = string.Empty;
    private string OriginalDishId { get; set; } = string.Empty;
    private string TwistId { get; set; } = string.Empty;
    
    private Uri? ImageUri { get; set; }

    private async Task BuildDish()
    {
        NewRecipe = await CreateRecipeUseCase.CreateRecipeAsync(OriginalDishId, TwistId);
    }

    private async Task UpdateDish()
    {
        UpdatedRecipe = await UpdateRecipeUseCase.UpdateRecipeAsync(NewRecipe!, UpdateInstructions);
    }

    private async Task GenerateImage()
    {
        ImageUri = await this.Fabricator.Fabricate(NewRecipe!);
    }

    protected override Task OnInitializedAsync()
    {
        OriginalDishes = OriginalDish.GetAll();
        Twists = TwistService.GetAll();
        return base.OnInitializedAsync();
    }

}
